# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
results.xml

# Translations
*.mo
*.pot

# Django
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyBAR output folder
pybar/module*/
pybar/scc*/
pybar/proto*/
pybar/data*/

# PyDev files
*.project
*.pydevproject
*.vcd

# Profiling files
*.lprof

# Other files
*.png
*.pdf

# Mac
.DS_Store

# SiTCP
*SiTCP*

# MIO Xilinx ISE
firmware/mio/ise/*
!firmware/mio/ise/*.xise

# MIO3 Xilinx ISE
firmware/mio3/vivado
!firmware/mio3/vivado/*.xpr

# LX9 firmware
firmware/lx9/ise/*
!firmware/lx9/ise/*.xise

# Nexys4 firmware
firmware/nexys4/vivado/*
!firmware/nexys4/vivado/*.xpr
firmware/nexys4/src/ip/*
!firmware/nexys4/src/ip/*.xci

# MMC3 Beast firmware
firmware/mmc3_beast_eth/vivado/*
!firmware/mmc3_beast_eth/vivado/*.xpr

# Simulation output
firmware/mio/cosim/sim_build
firmware/mio/cosim/sim_build.zip


