build: false  # Tell appveyor to not use msbuild

environment:
  matrix:
    - PYTHON: 2.7

platform:
  - x86
  - x64

init:
  - "ECHO %PYTHON%"
  - ps: Start-FileDownload 'http://download.microsoft.com/download/7/9/6/796EF2E4-801B-4FC4-AB28-B59FBF6D907B/VCForPython27.msi' C:\VCForPython27.msi; echo "Done"
  - cmd: msiexec /i C:\VCForPython27.msi /quiet /qn

install:
  # Miniconda setup + necessary external packages
  - set PATH=C:\Miniconda;C:\Miniconda\Scripts;%PATH%  # miniconda is already installed on appveyor: https://github.com/appveyor/ci/issues/359
  - conda install --yes bitarray cython ipython matplotlib mock nose numpy pandas pyserial pytables pyyaml pyzmq scipy sphinx pywin32 numba=0.22.1
  - pip install progressbar-latest pyvisa pyvisa-py pixel_clusterizer
  - pip install https://github.com/SiLab-Bonn/pyqtgraph/archive/develop.zip  # pyqtgraph is not working with numpy 1.10 right now, install our fixed fork instead
  - pip install https://github.com/uvemas/ViTables/archive/v2.1.zip
  - pip install https://github.com/walac/pyusb/archive/master.zip
  - conda update conda --yes
  # - conda update --all --yes
  - conda info -a
  - conda list
  # pyBAR installation including additional specific packages
  - pip install pySiLibUSB
  - pip install basil_daq
  - python.exe setup.py develop

test_script:
  - cd tests
  - nosetests test_analysis.py
