include README.* VERSION
recursive-include docs *
recursive-include examples *
recursive-include firmware *
include pybar *.yaml *.bit
recursive-include pybar/config *
recursive-include pybar/analysis *
global-exclude *.pyc .project .pydevproject build
