include README.* VERSION
recursive-include docs *
recursive-include examples *
#recursive-include tests *
include pybar *.yaml *.bit
recursive-include pybar/config *
recursive-include pybar/analysis *
recursive-exclude pybar/analysis/RawDataConverter/build *
global-exclude *.pyc .project .pydevproject build
