# Core functionality
basil_daq>=2.4.12,<4.0.0  # >=3.0.0 for Python 3 support
pyBAR_fei4_interpreter>=1.3,<1.4
pixel_clusterizer>=3.1,<3.2
bitarray>=0.8.1
contextlib2
matplotlib
numpy
progressbar-latest>=2.4
tables
pyyaml
scipy

# Additional functionality (support for lab devices, unit testing, online monitor)
mock
nose
pyqtgraph>=0.10
pyserial
pyvisa
pyvisa-py
pyzmq
