# Core functionality
basil_daq>=2.1.2
bitarray>=0.8.1
cython
matplotlib
numpy
pandas
progressbar-latest>=2.4
tables
pyyaml
scipy
# Additional functionality (lab devices, tests, Online Monitor)
pyvisa
pyvisa-py
pyqtgraph
mock
sphinx
pyserial
nose
pyzmq 
  
 
 
 
