# SEABAS2 board
ETH:
    ip : "192.168.10.16"
    udp_port : 4660
    tcp_port : 24
    tcp_connection : True

# Trigger
TLU:
    TRIGGER_MODE                         : 0  # Selecting trigger mode: Use trigger inputs/trigger select (0), TLU no handshake (1), TLU simple handshake (2), TLU data handshake (3)
    TRIGGER_SELECT                       : 0  # Selecting trigger input: NIM_IN_3 (8), NIM_IN_2 (4), NIM_IN_1 (2), NIM_IN_0 (1), disabled (0)
    TRIGGER_INVERT                       : 0  # Inverting trigger input: NIM_IN_3 (8), NIM_IN_2 (4), NIM_IN_1 (2), NIM_IN_0 (1), disabled (0)
    TRIGGER_VETO_SELECT                  : 1  # Selecting trigger veto: RX FIFO full (1), disabled (0)
    TRIGGER_HANDSHAKE_ACCEPT_WAIT_CYCLES : 3  # increase minimum trigger length
    TRIGGER_DATA_DELAY                   : 0  # Depends on the cable length and should be adjusted (run scan/tune_tlu.py)
    TRIGGER_THRESHOLD                    : 0  # Standard trigger minimum length
    DATA_FORMAT                          : 0  # trigger number according to TRIGGER_MODE (0), time stamp only (1), combined, 15bit time stamp + 16bit trigger number (2)

# FE-I4 command ouput
CMD:
    OUTPUT_MODE : 0  # Selecting command output mode: positive edge (0), negative edge (1), Manchester Code according to IEEE 802.3 (2), Manchester Code according to G.E. Thomas (3)
