

NET "CLK_50M" TNM_NET = "TNM_CLK_50M";
TIMESPEC TS_CLK_50M = PERIOD "TNM_CLK_50M" 20 ns HIGH 50 %;

NET "BUS_CLK" TNM_NET = "TNM_BUS_CLK";
TIMESPEC TS_BUS_CLK = PERIOD "TNM_BUS_CLK" 510 ns HIGH 50 %;

NET "CLK40" TNM_NET = "tn_CLK_40";
TIMESPEC TS_FALSE_CLK_40_BUS_CLK = FROM "tn_CLK_40" TO "TNM_BUS_CLK" TIG ;
TIMESPEC TS_FALSE_BUS_CLK_CLK_40 = FROM "TNM_BUS_CLK" TO "tn_CLK_40" TIG ;

NET "CLK16" TNM_NET = "tn_CLK16";
TIMESPEC TS_FALSE_CLK_16_BUS_CLK = FROM "tn_CLK16" TO "TNM_BUS_CLK" TIG ;
TIMESPEC TS_FALSE_BUS_CLK_CLK_16 = FROM "TNM_BUS_CLK" TO "tn_CLK16" TIG ;

NET "CLK125" TNM_NET = "tn_CLK125";
TIMESPEC TS_FALSE_CLK_125_CLK_40 = FROM "tn_CLK125" TO "tn_CLK_40" TIG ; # FIFO_FULL

NET "CLK125" TNM_NET = "tn_CLK125";
TIMESPEC TS_FALSE_CLK_16_CLK_125 = FROM "tn_CLK16" TO "tn_CLK125" TIG ;
TIMESPEC TS_FALSE_CLK_125_CLK_16 = FROM "tn_CLK125" TO "tn_CLK16" TIG ;

 
#########################
NET "REFCLK_P[0]" LOC = C6;
NET "REFCLK_N[0]" LOC = C7;
NET "CMDDCI_P[0]" LOC = B7;
NET "CMDDCI_N[0]" LOC = A7;
NET "DOBOUT_P[0]" LOC = D8 | IOSTANDARD = LVDS_25 | DIFF_TERM = "TRUE";
NET "DOBOUT_N[0]" LOC = C8 | IOSTANDARD = LVDS_25 | DIFF_TERM = "TRUE";
#########################


#########################
NET "REFCLK_P[1]" LOC = A2;
NET "REFCLK_N[1]" LOC = A3;
NET "CMDDCI_P[1]" LOC = C4;
NET "CMDDCI_N[1]" LOC = B4;
NET "DOBOUT_P[1]" LOC = D5 | IOSTANDARD = LVDS_25 | DIFF_TERM = "TRUE";
NET "DOBOUT_N[1]" LOC = D6 | IOSTANDARD = LVDS_25 | DIFF_TERM = "TRUE";
#########################

#########################
NET "REFCLK_P[2]" LOC = F5;
NET "REFCLK_N[2]" LOC = F4;
NET "CMDDCI_P[2]" LOC = F2;
NET "CMDDCI_N[2]" LOC = G2;
NET "DOBOUT_P[2]" LOC = B1 | IOSTANDARD = LVDS_25 | DIFF_TERM = "TRUE";
NET "DOBOUT_N[2]" LOC = B2 | IOSTANDARD = LVDS_25 | DIFF_TERM = "TRUE";
#########################

#########################
NET "REFCLK_P[3]" LOC = C2;
NET "REFCLK_N[3]" LOC = C3;
NET "CMDDCI_P[3]" LOC = D1;
NET "CMDDCI_N[3]" LOC = C1;
NET "DOBOUT_P[3]" LOC = E2 | IOSTANDARD = LVDS_25 | DIFF_TERM = "TRUE";
NET "DOBOUT_N[3]" LOC = E1 | IOSTANDARD = LVDS_25 | DIFF_TERM = "TRUE";
#########################


#########################
NET "LED[0]" LOC = A18;
NET "LED[1]" LOC = C18;
NET "LED[2]" LOC = A19;
NET "LED[3]" LOC = B19;
NET "LED[4]" LOC = C19;
NET "LED[5]" LOC = A20;
NET "LED[6]" LOC = B20;
NET "LED[7]" LOC = B21;
NET "LED[0]" IOSTANDARD = LVCMOS33;
NET "LED[1]" IOSTANDARD = LVCMOS33;
NET "LED[2]" IOSTANDARD = LVCMOS33;
NET "LED[3]" IOSTANDARD = LVCMOS33;
NET "LED[4]" IOSTANDARD = LVCMOS33;
NET "LED[5]" IOSTANDARD = LVCMOS33;
NET "LED[6]" IOSTANDARD = LVCMOS33;
NET "LED[7]" IOSTANDARD = LVCMOS33;
NET "LED[0]" DRIVE = 16;
NET "LED[1]" DRIVE = 16;
NET "LED[2]" DRIVE = 16;
NET "LED[3]" DRIVE = 16;
NET "LED[4]" DRIVE = 16;
NET "LED[5]" DRIVE = 16;
NET "LED[6]" DRIVE = 16;
NET "LED[7]" DRIVE = 16;
NET "LED[0]" SLEW = FAST;
NET "LED[1]" SLEW = FAST;
NET "LED[2]" SLEW = FAST;
NET "LED[3]" SLEW = FAST;
NET "LED[4]" SLEW = FAST;
NET "LED[5]" SLEW = FAST;
NET "LED[6]" SLEW = FAST;
NET "LED[7]" SLEW = FAST;
NET "LED[0]" PULLDOWN;
NET "LED[1]" PULLDOWN;
NET "LED[2]" PULLDOWN;
NET "LED[3]" PULLDOWN;
NET "LED[4]" PULLDOWN;
NET "LED[5]" PULLDOWN;
NET "LED[6]" PULLDOWN;
NET "LED[7]" PULLDOWN;

#################################
NET "CLK_50M" LOC = E12;
NET "USR_ACTIVE" LOC = N26;
NET "USR_CLK" LOC = E25;
NET "USR_CLOSE_ACK" LOC = P24;
NET "USR_CLOSE_REQ" LOC = T25;
NET "USR_RX_EMPTY" LOC = M25;
NET "USR_RX_RD[0]" LOC = R25;
NET "USR_RX_RD[1]" LOC = N24;
NET "USR_RX_RD[2]" LOC = P26;
NET "USR_RX_RD[3]" LOC = T24;
NET "USR_RX_RD[4]" LOC = U26;
NET "USR_RX_RD[5]" LOC = U25;
NET "USR_RX_RD[6]" LOC = U24;
NET "USR_RX_RD[7]" LOC = P25;
NET "USR_RX_RE" LOC = M26;
NET "USR_RX_RV" LOC = R26;
NET "USR_TX_AFULL" LOC = AB26;
NET "USR_TX_WD[0]" LOC = Y25;
NET "USR_TX_WD[1]" LOC = AA25;
NET "USR_TX_WD[2]" LOC = V26;
NET "USR_TX_WD[3]" LOC = W26;
NET "USR_TX_WD[4]" LOC = W25;
NET "USR_TX_WD[5]" LOC = Y26;
NET "USR_TX_WD[6]" LOC = L24;
NET "USR_TX_WD[7]" LOC = K26;
NET "USR_TX_WE" LOC = AB25;
NET "USR_ACTIVE" IOSTANDARD = LVCMOS33;
NET "USR_CLK" IOSTANDARD = LVCMOS33;
NET "USR_CLOSE_ACK" IOSTANDARD = LVCMOS33;
NET "USR_CLOSE_REQ" IOSTANDARD = LVCMOS33;
NET "USR_RX_EMPTY" IOSTANDARD = LVCMOS33;
NET "USR_RX_RD[0]" IOSTANDARD = LVCMOS33;
NET "USR_RX_RD[1]" IOSTANDARD = LVCMOS33;
NET "USR_RX_RD[2]" IOSTANDARD = LVCMOS33;
NET "USR_RX_RD[3]" IOSTANDARD = LVCMOS33;
NET "USR_RX_RD[4]" IOSTANDARD = LVCMOS33;
NET "USR_RX_RD[5]" IOSTANDARD = LVCMOS33;
NET "USR_RX_RD[6]" IOSTANDARD = LVCMOS33;
NET "USR_RX_RD[7]" IOSTANDARD = LVCMOS33;
NET "USR_RX_RE" IOSTANDARD = LVCMOS33;
NET "USR_RX_RV" IOSTANDARD = LVCMOS33;
NET "USR_TX_AFULL" IOSTANDARD = LVCMOS33;
NET "USR_TX_WD[0]" IOSTANDARD = LVCMOS33;
NET "USR_TX_WD[1]" IOSTANDARD = LVCMOS33;
NET "USR_TX_WD[2]" IOSTANDARD = LVCMOS33;
NET "USR_TX_WD[3]" IOSTANDARD = LVCMOS33;
NET "USR_TX_WD[4]" IOSTANDARD = LVCMOS33;
NET "USR_TX_WD[5]" IOSTANDARD = LVCMOS33;
NET "USR_TX_WD[6]" IOSTANDARD = LVCMOS33;
NET "USR_TX_WD[7]" IOSTANDARD = LVCMOS33;
NET "USR_TX_WE" IOSTANDARD = LVCMOS33;
NET "REG_DI" DRIVE = 8;
NET "USR_CLK" DRIVE = 8;
NET "USR_CLOSE_ACK" DRIVE = 8;
NET "USR_RX_RE" DRIVE = 8;
NET "USR_TX_WD[0]" DRIVE = 8;
NET "USR_TX_WD[1]" DRIVE = 8;
NET "USR_TX_WD[2]" DRIVE = 8;
NET "USR_TX_WD[3]" DRIVE = 8;
NET "USR_TX_WD[4]" DRIVE = 8;
NET "USR_TX_WD[5]" DRIVE = 8;
NET "USR_TX_WD[6]" DRIVE = 8;
NET "USR_TX_WD[7]" DRIVE = 8;
NET "USR_TX_WE" DRIVE = 8;
NET "USR_CLK" SLEW = SLOW;
NET "USR_CLOSE_ACK" SLEW = SLOW;
NET "USR_RX_RE" SLEW = SLOW;
NET "USR_TX_WD[0]" SLEW = SLOW;
NET "USR_TX_WD[1]" SLEW = SLOW;
NET "USR_TX_WD[2]" SLEW = SLOW;
NET "USR_TX_WD[3]" SLEW = SLOW;
NET "USR_TX_WD[4]" SLEW = SLOW;
NET "USR_TX_WD[5]" SLEW = SLOW;
NET "USR_TX_WD[6]" SLEW = SLOW;
NET "USR_TX_WD[7]" SLEW = SLOW;
NET "REG_ACT" LOC = D25;
NET "REG_CLK" LOC = D26;
NET "REG_DI" LOC = J25;
NET "REG_DO" LOC = J26;
NET "REG_ACT" IOSTANDARD = LVCMOS33;
NET "REG_CLK" IOSTANDARD = LVCMOS33;
NET "REG_CLK" CLOCK_DEDICATED_ROUTE = FALSE;
#this REG_CLK IOB clock component is not placed at an optimal clock IOB site. 
NET "REG_DI" IOSTANDARD = LVCMOS33;
NET "REG_DO" IOSTANDARD = LVCMOS33;
NET "REG_DI" SLEW = SLOW;

################################
NET "NIM_OUT[0]" LOC = A13;
NET "NIM_OUT[1]" LOC = A12;
NET "NIM_OUT[0]" IOSTANDARD = LVCMOS25;
NET "NIM_OUT[1]" IOSTANDARD = LVCMOS25;
NET "NIM_OUT[0]" SLEW = FAST;
NET "NIM_OUT[1]" SLEW = FAST;
NET "NIM_OUT[0]" DRIVE = 16;
NET "NIM_OUT[1]" DRIVE = 16;

NET "NIM_IN[0]" LOC = E16 ;
NET "NIM_IN[1]" LOC = D15 ;
NET "NIM_IN[2]" LOC = D13 ;
NET "NIM_IN[3]" LOC = F14 ;

