CONFIG VCCAUX  = 3.3;

# "USER_RESET"
NET "USER_RESET" LOC = V4;
NET "USER_RESET" IOSTANDARD = LVCMOS33;
NET "USER_RESET" PULLDOWN;
NET "USER_RESET" TIG;

# "USER_CLOCK"
NET "USER_CLOCK" LOC = V10;
NET "USER_CLOCK" IOSTANDARD = LVCMOS33;

NET "USER_CLOCK" TNM_NET = "USER_CLOCK_TNM";
TIMESPEC TS_USER_CLOCK = PERIOD "USER_CLOCK_TNM" 40000 KHz;

# "GPIO_DIP1"
NET "GPIO_DIP[0]" LOC = B3;
NET "GPIO_DIP[0]" IOSTANDARD = LVCMOS33;
NET "GPIO_DIP[0]" PULLDOWN;
# "GPIO_DIP2"
NET "GPIO_DIP[1]" LOC = A3;
NET "GPIO_DIP[1]" IOSTANDARD = LVCMOS33;
NET "GPIO_DIP[1]" PULLDOWN;
# "GPIO_DIP3"
NET "GPIO_DIP[2]" LOC = B4;
NET "GPIO_DIP[2]" IOSTANDARD = LVCMOS33;
NET "GPIO_DIP[2]" PULLDOWN;
# "GPIO_DIP4"
NET "GPIO_DIP[3]" LOC = A4;
NET "GPIO_DIP[3]" IOSTANDARD = LVCMOS33;
NET "GPIO_DIP[3]" PULLDOWN;

# "GPIO_LED1"
NET "GPIO_LED[0]" LOC = P4;
NET "GPIO_LED[0]" IOSTANDARD = LVCMOS18;
# "GPIO_LED2"
NET "GPIO_LED[1]" LOC = L6;
NET "GPIO_LED[1]" IOSTANDARD = LVCMOS18;
# "GPIO_LED3"
NET "GPIO_LED[2]" LOC = F5;
NET "GPIO_LED[2]" IOSTANDARD = LVCMOS18;
# "GPIO_LED4"
NET "GPIO_LED[3]" LOC = C2;
NET "GPIO_LED[3]" IOSTANDARD = LVCMOS18;

CONFIG PROHIBIT = P1,L3;

# "ETH_COL"
NET "ETH_COL" LOC = M18;
NET "ETH_COL" IOSTANDARD = LVCMOS33;
NET "ETH_COL" PULLDOWN;
# "ETH_CRS"
NET "ETH_CRS" LOC = N17;
NET "ETH_CRS" IOSTANDARD = LVCMOS33;
NET "ETH_CRS" PULLDOWN;
# "ETH_MDC"
NET "ETH_MDC" LOC = M16;
NET "ETH_MDC" IOSTANDARD = LVCMOS33;
# "ETH_MDIO"
NET "ETH_MDIO" LOC = L18;
NET "ETH_MDIO" IOSTANDARD = LVCMOS33;
# "ETH_RESET#"
NET "ETH_RESET_n" TIG;
NET "ETH_RESET_n" LOC = T18;
NET "ETH_RESET_n" IOSTANDARD = LVCMOS33;
# "ETH_RX_CLK"
NET "ETH_RX_CLK" LOC = L15;
NET "ETH_RX_CLK" IOSTANDARD = LVCMOS33;
# "ETH_RX_D0"
NET "ETH_RX_D[0]" LOC = T17;
NET "ETH_RX_D[0]" IOSTANDARD = LVCMOS33;
NET "ETH_RX_D[0]" PULLUP;
# "ETH_RX_D1"
NET "ETH_RX_D[1]" LOC = N16;
NET "ETH_RX_D[1]" IOSTANDARD = LVCMOS33;
NET "ETH_RX_D[1]" PULLUP;
# "ETH_RX_D2"
NET "ETH_RX_D[2]" LOC = N15;
NET "ETH_RX_D[2]" IOSTANDARD = LVCMOS33;
NET "ETH_RX_D[2]" PULLUP;
# "ETH_RX_D3"
NET "ETH_RX_D[3]" LOC = P18;
NET "ETH_RX_D[3]" IOSTANDARD = LVCMOS33;
NET "ETH_RX_D[3]" PULLUP;
# "ETH_RX_DV"
NET "ETH_RX_DV" LOC = P17;
NET "ETH_RX_DV" IOSTANDARD = LVCMOS33;
# "ETH_RX_ER"
NET "ETH_RX_ER" LOC = N18;
NET "ETH_RX_ER" IOSTANDARD = LVCMOS33;
# "ETH_TX_CLK"
NET "ETH_TX_CLK" LOC = H17;
NET "ETH_TX_CLK" IOSTANDARD = LVCMOS33;
# "ETH_TX_D0"
NET "ETH_TX_D[0]" LOC = K18;
NET "ETH_TX_D[0]" IOSTANDARD = LVCMOS33;
# "ETH_TX_D1"
NET "ETH_TX_D[1]" LOC = K17;
NET "ETH_TX_D[1]" IOSTANDARD = LVCMOS33;
# "ETH_TX_D2"
NET "ETH_TX_D[2]" LOC = J18;
NET "ETH_TX_D[2]" IOSTANDARD = LVCMOS33;
# "ETH_TX_D3"
NET "ETH_TX_D[3]" LOC = J16;
NET "ETH_TX_D[3]" IOSTANDARD = LVCMOS33;
# "ETH_TX_EN"
NET "ETH_TX_EN" LOC = L17;
NET "ETH_TX_EN" IOSTANDARD = LVCMOS33;

NET "ETH_RX_CLK" TNM_NET = "ETH_RX_CLK_TMN";
TIMESPEC TS_ETH_RX_CLK = PERIOD "ETH_RX_CLK_TMN" 25000 KHz;

NET "ETH_TX_CLK" TNM_NET = "ETH_TX_CLK_TMN";
TIMESPEC TS_ETH_TX_CLK = PERIOD "ETH_TX_CLK_TMN" 25000 KHz;


# Connector J5
#NET PMOD1_P1          LOC = F15 | IOSTANDARD = LVCMOS33;               # "PMOD1_P1"
#NET PMOD1_P2          LOC = F16 | IOSTANDARD = LVCMOS33;               # "PMOD1_P2"
# "PMOD1_P3"
NET "DOBOUT[2]" LOC = C17;
NET "DOBOUT[2]" IOSTANDARD = LVCMOS33;
#NET PMOD1_P4          LOC = C18 | IOSTANDARD = LVCMOS33;               # "PMOD1_P4"
#NET PMOD1_P7          LOC = F14 | IOSTANDARD = LVCMOS33;               # "PMOD1_P7"
#NET PMOD1_P8          LOC = G14 | IOSTANDARD = LVCMOS33;               # "PMOD1_P8"
# "PMOD1_P9"
NET "DOBOUT[3]" LOC = D17;
NET "DOBOUT[3]" IOSTANDARD = LVCMOS33;
#NET PMOD1_P10         LOC = D18 | IOSTANDARD = LVCMOS33;               # "PMOD1_P10"

# Connector J4
# "PMOD2_P1"
NET "DOBOUT[0]" LOC = H12;
NET "DOBOUT[0]" IOSTANDARD = LVCMOS33;
#NET PMOD2_P2          LOC = G13 | IOSTANDARD = LVCMOS33;               # "PMOD2_P2"
# "PMOD2_P3"
NET "SCL" LOC = E16;
NET "SCL" IOSTANDARD = LVCMOS33;
NET "SCL" PULLUP;
# "PMOD2_P4"
NET "CMD_DATA" LOC = E18;
NET "CMD_DATA" IOSTANDARD = LVCMOS33;
# "PMOD2_P7"
NET "DOBOUT[1]" LOC = K12;
NET "DOBOUT[1]" IOSTANDARD = LVCMOS33;
#NET PMOD2_P8          LOC = K13 | IOSTANDARD = LVCMOS33;               # "PMOD2_P8"
# "PMOD2_P9"
NET "SDA" LOC = F17;
NET "SDA" IOSTANDARD = LVCMOS33;
NET "SDA" PULLUP;
# "PMOD2_P10"
NET "CMD_CLK" LOC = F18;
NET "CMD_CLK" IOSTANDARD = LVCMOS33;
